:root {
  --bg-color: #b7e3fa;
  --soft-color: #d3d3d3;
  --white-color: #fff;
  --bg-dark: #123;
}
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.open-mob-menu {
  position: fixed;
  top: 0;
  transition: right 0.4s;
  width: 320px;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: -320px;
  background-color: var(--bg-color);
  color: var(--bg-dark);
  padding: 20px;
  transition: all 0.4s ease-in-out;
}
.close_mob_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-dark);
  color: var(--bg-color);
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-self: end;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: url("/icons/martify.webp");
  background-size: cover;
}
.text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}
.myborder {
  border: 0.3px solid gray;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text span {
  position: absolute;
  left: 50%;
  font-size: 1.1em;
  transform-origin: 0 100px;
}
.bg-custome-title-trafic {
  background: linear-gradient(264deg, #87cdea 30%, #171717);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #ccc; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #111; /* Darker green */
}

.slick-slide > div {
  margin: 0 10px;
}
